.national-cn2018-xydzp {
  background: #000 url("../images/bg-gqgwc-body.jpg") top center no-repeat;
}
.national-cn2018-xydzp .national-container {
  width: 1200px;
  margin: 0 auto;
  padding-top: 332px;
  padding-bottom: 100px;
  background: url("../images/bg-gqgwc-container.jpg") top center no-repeat;
}
.national-cn2018-xydzp .national-container .nc-jewels-wrapper {
  width: 1246px;
  height: 712px;
  overflow: hidden;
  margin-left: -23px;
  padding: 150px 140px 70px 140px;
  background: url("../images/bg-jewel.png") no-repeat;
}
.national-cn2018-xydzp .national-container .nc-jewels-wrapper .nc-jewels__left {
  float: left;
}
.national-cn2018-xydzp .national-container .nc-jewels-wrapper .nc-jewels__left ul {
  position: relative;
  width: 320px;
  height: 320px;
  margin: 80px 70px;
  overflow: hidden;
}
.national-cn2018-xydzp .national-container .nc-jewels-wrapper .nc-jewels__left ul li {
  width: 83px;
  height: 86px;
  font-size: 0;
  display: flex;
  float: left;
  align-items: center;
  background: url("../images/sprite-jewels.png") no-repeat;
  background-position: 0 -1406px;
}
.national-cn2018-xydzp .national-container .nc-jewels-wrapper .nc-jewels__left ul li .jewel {
  display: block;
  margin: 0 auto;
  background: url("../images/sprite-jewels.png") no-repeat;
}
.national-cn2018-xydzp .national-container .nc-jewels-wrapper .nc-jewels__left ul li .jewel img {
  max-width: 100%;
  -webkit-transition: all 0.2s ease 0.1s;
  -moz-transition: all 0.2s ease 0.1s;
  -ms-transition: all 0.2s ease 0.1s;
  -o-transition: all 0.2s ease 0.1s;
  transition: all 0.2s ease 0.1s;
}
.national-cn2018-xydzp .national-container .nc-jewels-wrapper .nc-jewels__left ul li:hover .jewel {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}
.national-cn2018-xydzp .national-container .nc-jewels-wrapper .nc-jewels__left ul li.selected:hover .jewel {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
.national-cn2018-xydzp .national-container .nc-jewels-wrapper .nc-jewels__left ul li.cheng .jewel {
  background-position: 0 -928px;
  width: 76px;
  height: 76px;
}
.national-cn2018-xydzp .national-container .nc-jewels-wrapper .nc-jewels__left ul li.cheng.reverse .jewel {
  background-position: 0 -101px;
  width: 56px;
  height: 52px;
}
.national-cn2018-xydzp .national-container .nc-jewels-wrapper .nc-jewels__left ul li.zi .jewel {
  background-position: 0 -1005px;
  width: 76px;
  height: 78px;
}
.national-cn2018-xydzp .national-container .nc-jewels-wrapper .nc-jewels__left ul li.zi.reverse .jewel {
  background-position: 0 -262px;
  width: 54px;
  height: 54px;
}
.national-cn2018-xydzp .national-container .nc-jewels-wrapper .nc-jewels__left ul li.huang .jewel {
  background-position: 0 -373px;
  width: 76px;
  height: 60px;
}
.national-cn2018-xydzp .national-container .nc-jewels-wrapper .nc-jewels__left ul li.huang.reverse .jewel {
  background-position: 0 -154px;
  width: 63px;
  height: 53px;
}
.national-cn2018-xydzp .national-container .nc-jewels-wrapper .nc-jewels__left ul li.hong .jewel {
  background-position: 0 -1084px;
  width: 80px;
  height: 79px;
}
.national-cn2018-xydzp .national-container .nc-jewels-wrapper .nc-jewels__left ul li.hong.reverse .jewel {
  background-position: 0 -780px;
  width: 71px;
  height: 71px;
}
.national-cn2018-xydzp .national-container .nc-jewels-wrapper .nc-jewels__left ul li.lv .jewel {
  background-position: 0 -1164px;
  width: 62px;
  height: 79px;
}
.national-cn2018-xydzp .national-container .nc-jewels-wrapper .nc-jewels__left ul li.lv.reverse .jewel {
  background-position: 0 0;
  width: 49px;
  height: 48px;
}
.national-cn2018-xydzp .national-container .nc-jewels-wrapper .nc-jewels__left ul li.lan .jewel {
  background-position: 0 -1244px;
  width: 65px;
  height: 79px;
}
.national-cn2018-xydzp .national-container .nc-jewels-wrapper .nc-jewels__left ul li.lan.reverse .jewel {
  background-position: 0 -208px;
  width: 53px;
  height: 53px;
}
.national-cn2018-xydzp .national-container .nc-jewels-wrapper .nc-jewels__left ul li.qing .jewel {
  background-position: 0 -852px;
  width: 75px;
  height: 75px;
}
.national-cn2018-xydzp .national-container .nc-jewels-wrapper .nc-jewels__left ul li.qing.reverse .jewel {
  background-position: 0 -49px;
  width: 52px;
  height: 51px;
}
.national-cn2018-xydzp .national-container .nc-jewels-wrapper .nc-jewels__left ul li:first-child {
  margin-left: 50px;
}
.national-cn2018-xydzp .national-container .nc-jewels-wrapper .nc-jewels__left ul li:first-child + li {
  margin-left: 54px;
}
.national-cn2018-xydzp .national-container .nc-jewels-wrapper .nc-jewels__left ul li:first-child + li + li {
  margin-left: 0;
  margin-top: 30px;
}
.national-cn2018-xydzp .national-container .nc-jewels-wrapper .nc-jewels__left ul li:first-child + li + li + li {
  margin-left: 36px;
  margin-top: 30px;
}
.national-cn2018-xydzp .national-container .nc-jewels-wrapper .nc-jewels__left ul li:first-child + li + li + li + li {
  margin-left: 35px;
  margin-top: 30px;
}
.national-cn2018-xydzp .national-container .nc-jewels-wrapper .nc-jewels__left ul li:first-child + li + li + li + li + li {
  margin-left: 50px;
  margin-top: 30px;
}
.national-cn2018-xydzp .national-container .nc-jewels-wrapper .nc-jewels__left ul li:first-child + li + li + li + li + li + li {
  margin-left: 54px;
  margin-top: 30px;
}
.national-cn2018-xydzp .national-container .nc-jewels-wrapper .nc-jewels__right {
  float: right;
  margin: 12px 22px;
  background: url("../images/bg-selected-jewel.png") no-repeat;
}
.national-cn2018-xydzp .national-container .nc-jewels-wrapper .nc-jewels__right ul {
  width: 452px;
  height: 458px;
  position: relative;
}
.national-cn2018-xydzp .national-container .nc-jewels-wrapper .nc-jewels__right ul li {
  position: absolute;
  width: 80px;
  height: 81px;
  display: flex;
  align-items: center;
  font-size: 0;
  background: url("../images/sprite-jewels.png") no-repeat;
  background-position: 0 -1324px;
}
.national-cn2018-xydzp .national-container .nc-jewels-wrapper .nc-jewels__right ul li .jewel {
  display: block;
  margin: 0 auto;
  background: url("../images/sprite-jewels.png") no-repeat;
}
.national-cn2018-xydzp .national-container .nc-jewels-wrapper .nc-jewels__right ul li .jewel img {
  max-width: 100%;
  -webkit-transition: all 0.2s ease 0.1s;
  -moz-transition: all 0.2s ease 0.1s;
  -ms-transition: all 0.2s ease 0.1s;
  -o-transition: all 0.2s ease 0.1s;
  transition: all 0.2s ease 0.1s;
}
.national-cn2018-xydzp .national-container .nc-jewels-wrapper .nc-jewels__right ul li.reverse:hover .jewel {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}
.national-cn2018-xydzp .national-container .nc-jewels-wrapper .nc-jewels__right ul li.reverse.selected .jewel {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}
.national-cn2018-xydzp .national-container .nc-jewels-wrapper .nc-jewels__right ul li:first-child {
  left: 50%;
  top: 28px;
  margin-left: -40px;
}
.national-cn2018-xydzp .national-container .nc-jewels-wrapper .nc-jewels__right ul li:first-child .jewel {
  background-position: 0 -154px;
  width: 63px;
  height: 53px;
}
.national-cn2018-xydzp .national-container .nc-jewels-wrapper .nc-jewels__right ul li:first-child.reverse .jewel {
  background-position: 0 -317px;
  width: 71px;
  height: 55px;
}
.national-cn2018-xydzp .national-container .nc-jewels-wrapper .nc-jewels__right ul li:first-child + li {
  left: 50px;
  top: 105px;
}
.national-cn2018-xydzp .national-container .nc-jewels-wrapper .nc-jewels__right ul li:first-child + li .jewel {
  background-position: 0 -101px;
  width: 56px;
  height: 52px;
}
.national-cn2018-xydzp .national-container .nc-jewels-wrapper .nc-jewels__right ul li:first-child + li.reverse .jewel {
  background-position: 0 -434px;
  width: 67px;
  height: 67px;
}
.national-cn2018-xydzp .national-container .nc-jewels-wrapper .nc-jewels__right ul li:first-child + li + li {
  top: 105px;
  right: 38px;
}
.national-cn2018-xydzp .national-container .nc-jewels-wrapper .nc-jewels__right ul li:first-child + li + li .jewel {
  background-position: 0 -262px;
  width: 54px;
  height: 54px;
}
.national-cn2018-xydzp .national-container .nc-jewels-wrapper .nc-jewels__right ul li:first-child + li + li.reverse .jewel {
  background-position: 0 -502px;
  width: 67px;
  height: 67px;
}
.national-cn2018-xydzp .national-container .nc-jewels-wrapper .nc-jewels__right ul li:first-child + li + li + li {
  width: 107px;
  height: 107px;
  top: 50%;
  left: 50%;
  margin-left: -53px;
  margin-top: -53px;
  background-position: 0 -1584px;
}
.national-cn2018-xydzp .national-container .nc-jewels-wrapper .nc-jewels__right ul li:first-child + li + li + li .jewel {
  background-position: 0 -780px;
  width: 71px;
  height: 71px;
}
.national-cn2018-xydzp .national-container .nc-jewels-wrapper .nc-jewels__right ul li:first-child + li + li + li.reverse .jewel {
  background-position: 0 -1493px;
  width: 91px;
  height: 90px;
}
.national-cn2018-xydzp .national-container .nc-jewels-wrapper .nc-jewels__right ul li:first-child + li + li + li + li {
  top: 255px;
  left: 45px;
}
.national-cn2018-xydzp .national-container .nc-jewels-wrapper .nc-jewels__right ul li:first-child + li + li + li + li .jewel {
  background-position: 0 -208px;
  width: 53px;
  height: 53px;
}
.national-cn2018-xydzp .national-container .nc-jewels-wrapper .nc-jewels__right ul li:first-child + li + li + li + li.reverse .jewel {
  background-position: 0 -709px;
  width: 58px;
  height: 70px;
}
.national-cn2018-xydzp .national-container .nc-jewels-wrapper .nc-jewels__right ul li:first-child + li + li + li + li + li {
  top: 255px;
  right: 35px;
}
.national-cn2018-xydzp .national-container .nc-jewels-wrapper .nc-jewels__right ul li:first-child + li + li + li + li + li .jewel {
  background-position: 0 0;
  width: 49px;
  height: 48px;
}
.national-cn2018-xydzp .national-container .nc-jewels-wrapper .nc-jewels__right ul li:first-child + li + li + li + li + li.reverse .jewel {
  background-position: 0 -639px;
  width: 53px;
  height: 69px;
}
.national-cn2018-xydzp .national-container .nc-jewels-wrapper .nc-jewels__right ul li:first-child + li + li + li + li + li + li {
  left: 50%;
  margin-left: -40px;
  bottom: 32px;
}
.national-cn2018-xydzp .national-container .nc-jewels-wrapper .nc-jewels__right ul li:first-child + li + li + li + li + li + li .jewel {
  background-position: 0 -49px;
  width: 52px;
  height: 51px;
}
.national-cn2018-xydzp .national-container .nc-jewels-wrapper .nc-jewels__right ul li:first-child + li + li + li + li + li + li.reverse .jewel {
  background-position: 0 -570px;
  width: 70px;
  height: 68px;
}
.national-cn2018-xydzp .national-container .nc-lottery-wrapper {
  width: 1200px;
  margin: 55px auto 50px;
  position: relative;
}
.national-cn2018-xydzp .national-container .nc-lottery-wrapper:before {
  content: '';
  display: block;
  width: 517px;
  height: 163px;
  margin: 0 auto 20px;
  background: url("../images/img-title-01.png") no-repeat;
}
.national-cn2018-xydzp .national-container .nc-lottery-wrapper .nc-lottery {
  width: 1066px;
  height: 684px;
  margin: 0 auto;
  overflow: hidden;
  background: url("../images/bg-turnable.png") no-repeat;
}
.national-cn2018-xydzp .national-container .nc-lottery-wrapper .nc-lottery ul {
  width: 488px;
  height: 488px;
  margin-top: 92px;
  position: relative;
  margin-left: 263px;
}
.national-cn2018-xydzp .national-container .nc-lottery-wrapper .nc-lottery ul:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transform: rotateZ(2deg);
  -moz-transform: rotateZ(2deg);
  -ms-transform: rotateZ(2deg);
  -o-transform: rotateZ(2deg);
  transform: rotateZ(2deg);
  background: url("../images/lottery-rewards.png") no-repeat;
  background-position: 15px 15px;
}
.national-cn2018-xydzp .national-container .nc-lottery-wrapper .nc-lottery ul li {
  position: absolute;
  width: 193px;
  height: 234px;
}
.national-cn2018-xydzp .national-container .nc-lottery-wrapper .nc-lottery ul li.active:before {
  content: '';
  position: absolute;
  height: 234px;
  background: url("../images/bg-lottery-active.png") no-repeat;
  -webkit-background-size: 100%;
  background-size: 100%;
}
.national-cn2018-xydzp .national-container .nc-lottery-wrapper .nc-lottery ul li:first-child {
  left: 77px;
  top: 17px;
  -webkit-transform: rotateZ(0deg);
  -moz-transform: rotateZ(0deg);
  -ms-transform: rotateZ(0deg);
  -o-transform: rotateZ(0deg);
  transform: rotateZ(0deg);
}
.national-cn2018-xydzp .national-container .nc-lottery-wrapper .nc-lottery ul li:first-child img {
  margin-left: 44px;
  margin-top: 20px;
}
.national-cn2018-xydzp .national-container .nc-lottery-wrapper .nc-lottery ul li:first-child.active:before {
  width: 193px;
}
.national-cn2018-xydzp .national-container .nc-lottery-wrapper .nc-lottery ul li:first-child + li {
  left: 202px;
  top: 22px;
  -webkit-transform: rotateZ(55deg);
  -moz-transform: rotateZ(55deg);
  -ms-transform: rotateZ(55deg);
  -o-transform: rotateZ(55deg);
  transform: rotateZ(55deg);
}
.national-cn2018-xydzp .national-container .nc-lottery-wrapper .nc-lottery ul li:first-child + li img {
  margin-left: 28px;
  margin-top: 10px;
  -webkit-transform: rotateZ(-35deg);
  -moz-transform: rotateZ(-35deg);
  -ms-transform: rotateZ(-35deg);
  -o-transform: rotateZ(-35deg);
  transform: rotateZ(-35deg);
}
.national-cn2018-xydzp .national-container .nc-lottery-wrapper .nc-lottery ul li:first-child + li.active:before {
  width: 164px;
}
.national-cn2018-xydzp .national-container .nc-lottery-wrapper .nc-lottery ul li:first-child + li + li {
  left: 230px;
  top: 31px;
  -webkit-transform: rotateZ(74deg);
  -moz-transform: rotateZ(74deg);
  -ms-transform: rotateZ(74deg);
  -o-transform: rotateZ(74deg);
  transform: rotateZ(74deg);
}
.national-cn2018-xydzp .national-container .nc-lottery-wrapper .nc-lottery ul li:first-child + li + li img {
  margin-top: 20px;
  margin-left: 50px;
  -webkit-transform: rotateZ(-80deg);
  -moz-transform: rotateZ(-80deg);
  -ms-transform: rotateZ(-80deg);
  -o-transform: rotateZ(-80deg);
  transform: rotateZ(-80deg);
}
.national-cn2018-xydzp .national-container .nc-lottery-wrapper .nc-lottery ul li:first-child + li + li.active:before {
  width: 190px;
}
.national-cn2018-xydzp .national-container .nc-lottery-wrapper .nc-lottery ul li:first-child + li + li + li {
  left: 267px;
  top: 112px;
  -webkit-transform: rotateZ(110deg);
  -moz-transform: rotateZ(110deg);
  -ms-transform: rotateZ(110deg);
  -o-transform: rotateZ(110deg);
  transform: rotateZ(110deg);
}
.national-cn2018-xydzp .national-container .nc-lottery-wrapper .nc-lottery ul li:first-child + li + li + li img {
  margin-left: 62px;
  -webkit-transform: rotateZ(-115deg);
  -moz-transform: rotateZ(-115deg);
  -ms-transform: rotateZ(-115deg);
  -o-transform: rotateZ(-115deg);
  transform: rotateZ(-115deg);
}
.national-cn2018-xydzp .national-container .nc-lottery-wrapper .nc-lottery ul li:first-child + li + li + li.active:before {
  width: 160px;
}
.national-cn2018-xydzp .national-container .nc-lottery-wrapper .nc-lottery ul li:first-child + li + li + li + li {
  left: 256px;
  top: 179px;
  -webkit-transform: rotateZ(144deg);
  -moz-transform: rotateZ(144deg);
  -ms-transform: rotateZ(144deg);
  -o-transform: rotateZ(144deg);
  transform: rotateZ(144deg);
}
.national-cn2018-xydzp .national-container .nc-lottery-wrapper .nc-lottery ul li:first-child + li + li + li + li img {
  margin-left: 42px;
  margin-top: 20px;
  -webkit-transform: rotateZ(-160deg);
  -moz-transform: rotateZ(-160deg);
  -ms-transform: rotateZ(-160deg);
  -o-transform: rotateZ(-160deg);
  transform: rotateZ(-160deg);
}
.national-cn2018-xydzp .national-container .nc-lottery-wrapper .nc-lottery ul li:first-child + li + li + li + li.active:before {
  width: 162px;
}
.national-cn2018-xydzp .national-container .nc-lottery-wrapper .nc-lottery ul li:first-child + li + li + li + li + li {
  left: 214px;
  top: 233px;
  -webkit-transform: rotateZ(180deg);
  -moz-transform: rotateZ(180deg);
  -ms-transform: rotateZ(180deg);
  -o-transform: rotateZ(180deg);
  transform: rotateZ(180deg);
}
.national-cn2018-xydzp .national-container .nc-lottery-wrapper .nc-lottery ul li:first-child + li + li + li + li + li img {
  margin-left: 34px;
  margin-top: -10px;
  -webkit-transform: rotateZ(-180deg);
  -moz-transform: rotateZ(-180deg);
  -ms-transform: rotateZ(-180deg);
  -o-transform: rotateZ(-180deg);
  transform: rotateZ(-180deg);
}
.national-cn2018-xydzp .national-container .nc-lottery-wrapper .nc-lottery ul li:first-child + li + li + li + li + li.active:before {
  width: 185px;
}
.national-cn2018-xydzp .national-container .nc-lottery-wrapper .nc-lottery ul li:first-child + li + li + li + li + li + li {
  left: 129px;
  top: 246px;
  -webkit-transform: rotateZ(217deg);
  -moz-transform: rotateZ(217deg);
  -ms-transform: rotateZ(217deg);
  -o-transform: rotateZ(217deg);
  transform: rotateZ(217deg);
}
.national-cn2018-xydzp .national-container .nc-lottery-wrapper .nc-lottery ul li:first-child + li + li + li + li + li + li img {
  margin-left: 50px;
  margin-top: 20px;
  -webkit-transform: rotateZ(-220deg);
  -moz-transform: rotateZ(-220deg);
  -ms-transform: rotateZ(-220deg);
  -o-transform: rotateZ(-220deg);
  transform: rotateZ(-220deg);
}
.national-cn2018-xydzp .national-container .nc-lottery-wrapper .nc-lottery ul li:first-child + li + li + li + li + li + li.active:before {
  width: 160px;
}
.national-cn2018-xydzp .national-container .nc-lottery-wrapper .nc-lottery ul li:first-child + li + li + li + li + li + li + li {
  left: 68px;
  top: 222px;
  -webkit-transform: rotateZ(253deg);
  -moz-transform: rotateZ(253deg);
  -ms-transform: rotateZ(253deg);
  -o-transform: rotateZ(253deg);
  transform: rotateZ(253deg);
}
.national-cn2018-xydzp .national-container .nc-lottery-wrapper .nc-lottery ul li:first-child + li + li + li + li + li + li + li img {
  margin-top: 25px;
  margin-left: 62px;
  -webkit-transform: rotateZ(-250deg);
  -moz-transform: rotateZ(-250deg);
  -ms-transform: rotateZ(-250deg);
  -o-transform: rotateZ(-250deg);
  transform: rotateZ(-250deg);
}
.national-cn2018-xydzp .national-container .nc-lottery-wrapper .nc-lottery ul li:first-child + li + li + li + li + li + li + li.active:before {
  width: 186px;
}
.national-cn2018-xydzp .national-container .nc-lottery-wrapper .nc-lottery ul li:first-child + li + li + li + li + li + li + li + li {
  left: 30px;
  top: 145px;
  -webkit-transform: rotateZ(290deg);
  -moz-transform: rotateZ(290deg);
  -ms-transform: rotateZ(290deg);
  -o-transform: rotateZ(290deg);
  transform: rotateZ(290deg);
}
.national-cn2018-xydzp .national-container .nc-lottery-wrapper .nc-lottery ul li:first-child + li + li + li + li + li + li + li + li img {
  margin-top: 30px;
  margin-left: 48px;
  -webkit-transform: rotateZ(-240deg);
  -moz-transform: rotateZ(-240deg);
  -ms-transform: rotateZ(-240deg);
  -o-transform: rotateZ(-240deg);
  transform: rotateZ(-240deg);
}
.national-cn2018-xydzp .national-container .nc-lottery-wrapper .nc-lottery ul li:first-child + li + li + li + li + li + li + li + li.active:before {
  width: 160px;
}
.national-cn2018-xydzp .national-container .nc-lottery-wrapper .nc-lottery ul li:first-child + li + li + li + li + li + li + li + li + li {
  left: 40px;
  top: 76px;
  -webkit-transform: rotateZ(323deg);
  -moz-transform: rotateZ(323deg);
  -ms-transform: rotateZ(323deg);
  -o-transform: rotateZ(323deg);
  transform: rotateZ(323deg);
}
.national-cn2018-xydzp .national-container .nc-lottery-wrapper .nc-lottery ul li:first-child + li + li + li + li + li + li + li + li + li img {
  margin-left: 40px;
  margin-top: 20px;
  -webkit-transform: rotateZ(40deg);
  -moz-transform: rotateZ(40deg);
  -ms-transform: rotateZ(40deg);
  -o-transform: rotateZ(40deg);
  transform: rotateZ(40deg);
}
.national-cn2018-xydzp .national-container .nc-lottery-wrapper .nc-lottery ul li:first-child + li + li + li + li + li + li + li + li + li.active:before {
  width: 162px;
}
.national-cn2018-xydzp .national-container .nc-lottery-wrapper .nc-lottery ul li.btn-group {
  width: 176px;
  height: 176px;
  left: 50%;
  top: 50%;
  margin-left: -88px;
  margin-top: -88px;
  background: none;
}
.national-cn2018-xydzp .national-container .nc-lottery-wrapper .nc-lottery ul li.btn-group .btn-start,
.national-cn2018-xydzp .national-container .nc-lottery-wrapper .nc-lottery ul li.btn-group .btn-unactive {
  display: block;
  width: 176px;
  height: 176px;
  font-size: 0;
  background: url("../images/sprite-buttons.png") no-repeat;
}
.national-cn2018-xydzp .national-container .nc-lottery-wrapper .nc-lottery ul li.btn-group .btn-start {
  background-position: 0 0;
}
.national-cn2018-xydzp .national-container .nc-lottery-wrapper .nc-lottery ul li.btn-group .btn-unactive {
  cursor: default;
  background-position: -177px 0;
}
