* {
  box-sizing: border-box;
}
body {
  font-family: Arial, 'Microsoft YaHei';
}
.topBar .logoC {
  height: 35px;
}
.gift-wrapper {
  display: none;
  position: fixed;
  width: 200px;
  height: 200px;
  font-size: 0;
  top: 50%;
  margin-top: -100px;
  right: 0;
  z-index: 1;
}
.gift-wrapper .icon-gift {
  display: block;
  width: 200px;
  height: 200px;
  background: url("../images/bg-giftbox.png") no-repeat;
  -webkit-background-size: 100%;
  background-size: 100%;
}
.national-cn2017 {
  background: url("../images/bg-body.jpg") top center no-repeat;
}
.national-cn2017 .national-container {
  width: 1000px;
  margin: 0 auto;
  background: url("../images/bg-container.jpg") top center no-repeat;
}
.national-cn2017 .national-container .national-nav {
  padding-top: 769px;
  height: 1174px;
  position: relative;
}
.national-cn2017 .national-container .national-nav ul {
  height: 405px;
  font-size: 0;
  position: relative;
}
.national-cn2017 .national-container .national-nav ul li {
  position: absolute;
  width: 116px;
  height: 362px;
}
.national-cn2017 .national-container .national-nav ul li a {
  display: block;
  width: 116px;
  height: 362px;
  background: url("../images/sprite-nav.png") no-repeat;
}
.national-cn2017 .national-container .national-nav ul li:hover a {
  animation: FadeIn .5s running;
  -webkit-animation: FadeIn .5s running;
  -moz-animation: FadeIn .5s running;
  -ms-animation: FadeIn .5s running;
  -o-animation: FadeIn .5s running;
}
.national-cn2017 .national-container .national-nav ul li:first-child {
  left: 418px;
  top: 0;
}
.national-cn2017 .national-container .national-nav ul li:first-child a {
  background-position: 0 0;
}
.national-cn2017 .national-container .national-nav ul li:first-child:hover a {
  background-position: -116px 0;
}
.national-cn2017 .national-container .national-nav ul li:first-child + li {
  left: 641px;
  top: 43px;
}
.national-cn2017 .national-container .national-nav ul li:first-child + li a {
  background-position: -232px 0;
}
.national-cn2017 .national-container .national-nav ul li:first-child + li:hover a {
  background-position: -348px 0;
}
.national-cn2017 .national-container .national-nav ul li:first-child + li + li {
  left: 857px;
  top: 25px;
}
.national-cn2017 .national-container .national-nav ul li:first-child + li + li a {
  background-position: -464px 0;
}
.national-cn2017 .national-container .national-nav ul li:first-child + li + li:hover a {
  background-position: -580px 0;
}
.national-cn2017 .national-container .national-richman-wrapper {
  width: 1028px;
  height: 665px;
  margin-top: 100px;
  margin-left: -15px;
  position: relative;
  background: url("../images/bg-dafuweng.png") center bottom no-repeat;
}
.national-cn2017 .national-container .national-richman-wrapper:before {
  content: '';
  position: absolute;
  top: -46px;
  width: 578px;
  height: 40px;
  left: 50%;
  margin-left: -279px;
  background: url("../images/sprite-national.png") no-repeat;
  background-position: 0 0;
}
.national-cn2017 .national-container .national-richman-wrapper .national-richman {
  position: relative;
  width: 988px;
  height: 638px;
  margin: 0 20px 26px 20px;
}
.national-cn2017 .national-container .national-richman-wrapper .national-richman .nr-gird {
  position: absolute;
  width: 120px;
  height: 118px;
  font-size: 0;
}
.national-cn2017 .national-container .national-richman-wrapper .national-richman .nr-gird.current {
  background: url("../images/diaochang.png") no-repeat;
}
.national-cn2017 .national-container .national-richman-wrapper .national-richman .nr-gird.nr-gird-0 {
  left: 0;
  top: 26px;
}
.national-cn2017 .national-container .national-richman-wrapper .national-richman .nr-gird.nr-gird-1 {
  left: 0;
  top: 150px;
}
.national-cn2017 .national-container .national-richman-wrapper .national-richman .nr-gird.nr-gird-2 {
  left: 0;
  top: 274px;
}
.national-cn2017 .national-container .national-richman-wrapper .national-richman .nr-gird.nr-gird-3 {
  left: 0;
  top: 398px;
}
.national-cn2017 .national-container .national-richman-wrapper .national-richman .nr-gird.nr-gird-4 {
  left: 0;
  top: 519px;
}
.national-cn2017 .national-container .national-richman-wrapper .national-richman .nr-gird.nr-gird-5 {
  left: 122px;
  top: 519px;
}
.national-cn2017 .national-container .national-richman-wrapper .national-richman .nr-gird.nr-gird-6 {
  left: 246px;
  top: 519px;
}
.national-cn2017 .national-container .national-richman-wrapper .national-richman .nr-gird.nr-gird-7 {
  left: 370px;
  top: 519px;
}
.national-cn2017 .national-container .national-richman-wrapper .national-richman .nr-gird.nr-gird-8 {
  left: 494px;
  top: 519px;
}
.national-cn2017 .national-container .national-richman-wrapper .national-richman .nr-gird.nr-gird-9 {
  left: 618px;
  top: 519px;
}
.national-cn2017 .national-container .national-richman-wrapper .national-richman .nr-gird.nr-gird-10 {
  left: 742px;
  top: 519px;
}
.national-cn2017 .national-container .national-richman-wrapper .national-richman .nr-gird.nr-gird-11 {
  left: 867px;
  top: 519px;
}
.national-cn2017 .national-container .national-richman-wrapper .national-richman .nr-gird.nr-gird-12 {
  left: 867px;
  top: 398px;
}
.national-cn2017 .national-container .national-richman-wrapper .national-richman .nr-gird.nr-gird-13 {
  left: 867px;
  top: 274px;
}
.national-cn2017 .national-container .national-richman-wrapper .national-richman .nr-gird.nr-gird-14 {
  left: 867px;
  top: 150px;
}
.national-cn2017 .national-container .national-richman-wrapper .national-richman .nr-gird.nr-gird-15 {
  left: 867px;
  top: 26px;
}
.national-cn2017 .national-container .national-richman-wrapper .national-richman .nr-gird.nr-gird-16 {
  left: 742px;
  top: 26px;
}
.national-cn2017 .national-container .national-richman-wrapper .national-richman .nr-gird.nr-gird-17 {
  left: 618px;
  top: 26px;
}
.national-cn2017 .national-container .national-richman-wrapper .national-richman .nr-gird.nr-gird-18 {
  left: 494px;
  top: 26px;
}
.national-cn2017 .national-container .national-richman-wrapper .national-richman .nr-gird.nr-gird-19 {
  left: 370px;
  top: 26px;
}
.national-cn2017 .national-container .national-richman-wrapper .national-richman .nr-gird.nr-gird-20 {
  left: 246px;
  top: 26px;
}
.national-cn2017 .national-container .national-richman-wrapper .national-richman .nr-gird.nr-gird-21 {
  left: 122px;
  top: 26px;
}
.national-cn2017 .national-container .national-richman-wrapper .national-richman-panel {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
.national-cn2017 .national-container .national-richman-wrapper .national-richman-panel .btn-group {
  position: relative;
  padding-top: 192px;
  padding-bottom: 10px;
}
.national-cn2017 .national-container .national-richman-wrapper .national-richman-panel .btn-group:before,
.national-cn2017 .national-container .national-richman-wrapper .national-richman-panel .btn-group:after {
  content: '';
  position: absolute;
  background: url("../images/sprite-dice.png") no-repeat;
}
.national-cn2017 .national-container .national-richman-wrapper .national-richman-panel .btn-group:before {
  width: 124px;
  height: 93px;
  bottom: 20px;
  left: 194px;
  background-position: 0 -124px;
}
.national-cn2017 .national-container .national-richman-wrapper .national-richman-panel .btn-group:after {
  width: 100px;
  height: 124px;
  bottom: -20px;
  right: 180px;
  background-position: 0 0;
}
.national-cn2017 .national-container .national-richman-wrapper .national-richman-panel .btn-group.btn-mask:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}
.national-cn2017 .national-container .national-richman-wrapper .national-richman-panel .btn-group .btn-signin,
.national-cn2017 .national-container .national-richman-wrapper .national-richman-panel .btn-group .btn-roll,
.national-cn2017 .national-container .national-richman-wrapper .national-richman-panel .btn-group .btn-answer,
.national-cn2017 .national-container .national-richman-wrapper .national-richman-panel .btn-group .btn-compeleted {
  display: block;
  margin: 0 auto;
}
.national-cn2017 .national-container .national-richman-wrapper .national-richman-panel .btn-group .btn-signin {
  position: relative;
  text-indent: 80px;
  letter-spacing: 10px;
}
.national-cn2017 .national-container .national-richman-wrapper .national-richman-panel .btn-group .btn-signin:before {
  content: '';
  position: absolute;
  width: 43px;
  height: 36px;
  top: 50%;
  margin-top: -18px;
  left: 95px;
  background: url("../images/sprite-national.png") no-repeat;
  background-position: -751px -223px;
}
.national-cn2017 .national-container .national-richman-wrapper .national-richman-panel .btn-group .btn-signin,
.national-cn2017 .national-container .national-richman-wrapper .national-richman-panel .btn-group .btn-roll,
.national-cn2017 .national-container .national-richman-wrapper .national-richman-panel .btn-group .btn-answer {
  width: 340px;
  height: 111px;
  font-size: 35px;
  color: #871609;
  text-align: center;
  line-height: 111px;
  background: url("../images/sprite-national.png") no-repeat;
  background-position: 0 -111px;
}
.national-cn2017 .national-container .national-richman-wrapper .national-richman-panel .btn-group .btn-signin:hover,
.national-cn2017 .national-container .national-richman-wrapper .national-richman-panel .btn-group .btn-roll:hover,
.national-cn2017 .national-container .national-richman-wrapper .national-richman-panel .btn-group .btn-answer:hover {
  background-position: 0 -222px;
  animation: FadeIn .5s running;
  -webkit-animation: FadeIn .5s running;
  -moz-animation: FadeIn .5s running;
  -ms-animation: FadeIn .5s running;
  -o-animation: FadeIn .5s running;
}
.national-cn2017 .national-container .national-richman-wrapper .national-richman-panel .btn-group .btn-roll,
.national-cn2017 .national-container .national-richman-wrapper .national-richman-panel .btn-group .btn-answer {
  display: none;
  letter-spacing: 25px;
}
.national-cn2017 .national-container .national-richman-wrapper .national-richman-panel .btn-group .btn-compeleted {
  display: none;
  width: 340px;
  height: 111px;
  font-size: 35px;
  color: #333;
  cursor: default;
  text-align: center;
  line-height: 111px;
  background: url("../images/bgn-completed.png") no-repeat;
}
.national-cn2017 .national-container .national-richman-wrapper .national-richman-panel .rules {
  width: 698px;
  margin: 0 auto;
}
.national-cn2017 .national-container .national-richman-wrapper .national-richman-panel .rules .time,
.national-cn2017 .national-container .national-richman-wrapper .national-richman-panel .rules .content {
  position: relative;
  padding-left: 90px;
}
.national-cn2017 .national-container .national-richman-wrapper .national-richman-panel .rules .time:before,
.national-cn2017 .national-container .national-richman-wrapper .national-richman-panel .rules .content:before {
  content: attr(data-before);
  font: 18px 'Microsoft YaHei';
  color: #373947;
  position: absolute;
  left: 0;
}
.national-cn2017 .national-container .national-richman-wrapper .national-richman-panel .rules .time span {
  font: 18px 'Microsoft YaHei';
  color: #373947;
  line-height: 28px;
}
.national-cn2017 .national-container .national-richman-wrapper .national-richman-panel .rules .content .p1 {
  font: 18px 'Microsoft YaHei';
  color: #373947;
  line-height: 28px;
}
.national-cn2017 .national-container .national-richman-wrapper .national-richman-panel .rules .content .p2 {
  font: 22px 'Microsoft YaHei';
  color: #373947;
}
.national-cn2017 .national-container .national-lottery {
  position: relative;
  margin: 0 4px;
}
.national-cn2017 .national-container .national-lottery:after {
  content: '';
  display: table;
  clear: both;
  height: 0;
}
.national-cn2017 .national-container .national-lottery-left {
  float: left;
}
.national-cn2017 .national-container .national-lottery-right {
  float: right;
}
.national-cn2017 .national-container .national-lottery-left,
.national-cn2017 .national-container .national-lottery-right {
  margin: 30px 10px 25px;
  position: relative;
}
.national-cn2017 .national-container .national-lottery-left .lottery:before,
.national-cn2017 .national-container .national-lottery-right .lottery:before {
  content: '';
  display: block;
  width: 476px;
  height: 33px;
  margin-bottom: 20px;
  background: url("../images/sprite-national.png") no-repeat;
}
.national-cn2017 .national-container .national-lottery-left .lottery ul,
.national-cn2017 .national-container .national-lottery-right .lottery ul {
  position: relative;
  width: 474px;
  height: 352px;
  border: 10px solid #b9a389;
}
.national-cn2017 .national-container .national-lottery-left .lottery ul li,
.national-cn2017 .national-container .national-lottery-right .lottery ul li {
  position: absolute;
  display: table;
  width: 150px;
  height: 110px;
  text-align: center;
  background: url("../images/bg-lottery.png") no-repeat;
}
.national-cn2017 .national-container .national-lottery-left .lottery ul li.active:after,
.national-cn2017 .national-container .national-lottery-right .lottery ul li.active:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #af2f01;
}
.national-cn2017 .national-container .national-lottery-left .lottery ul li a,
.national-cn2017 .national-container .national-lottery-right .lottery ul li a {
  display: table-cell;
  vertical-align: middle;
  position: relative;
  width: 100%;
  z-index: 1;
}
.national-cn2017 .national-container .national-lottery-left .lottery ul li a:after,
.national-cn2017 .national-container .national-lottery-right .lottery ul li a:after {
  content: attr(data-after);
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  font: 18px 'MicroSoft YaHei';
  color: #eabe6a;
  line-height: 30px;
}
.national-cn2017 .national-container .national-lottery-left .lottery ul li img,
.national-cn2017 .national-container .national-lottery-right .lottery ul li img {
  max-width: 86px;
  -webkit-transition: all .2s ease .2s;
  -moz-transition: all .2s ease .2s;
  -ms-transition: all .2s ease .2s;
  -o-transition: all .2s ease .2s;
  transition: all .2s ease .2s;
}
.national-cn2017 .national-container .national-lottery-left .lottery ul li:hover img,
.national-cn2017 .national-container .national-lottery-right .lottery ul li:hover img {
  -webkit-transform: scale(1.2, 1.2);
  -moz-transform: scale(1.2, 1.2);
  -ms-transform: scale(1.2, 1.2);
  -o-transform: scale(1.2, 1.2);
  transform: scale(1.2, 1.2);
}
.national-cn2017 .national-container .national-lottery-left .lottery ul li:first-child,
.national-cn2017 .national-container .national-lottery-right .lottery ul li:first-child {
  left: 0;
  top: 0;
}
.national-cn2017 .national-container .national-lottery-left .lottery ul li:first-child + li,
.national-cn2017 .national-container .national-lottery-right .lottery ul li:first-child + li {
  left: 152px;
  top: 0;
}
.national-cn2017 .national-container .national-lottery-left .lottery ul li:first-child + li + li,
.national-cn2017 .national-container .national-lottery-right .lottery ul li:first-child + li + li {
  left: 304px;
  top: 0;
}
.national-cn2017 .national-container .national-lottery-left .lottery ul li:first-child + li + li + li,
.national-cn2017 .national-container .national-lottery-right .lottery ul li:first-child + li + li + li {
  left: 304px;
  top: 112px;
}
.national-cn2017 .national-container .national-lottery-left .lottery ul li:first-child + li + li + li + li,
.national-cn2017 .national-container .national-lottery-right .lottery ul li:first-child + li + li + li + li {
  left: 304px;
  top: 224px;
}
.national-cn2017 .national-container .national-lottery-left .lottery ul li:first-child + li + li + li + li + li,
.national-cn2017 .national-container .national-lottery-right .lottery ul li:first-child + li + li + li + li + li {
  left: 152px;
  top: 224px;
}
.national-cn2017 .national-container .national-lottery-left .lottery ul li:first-child + li + li + li + li + li + li,
.national-cn2017 .national-container .national-lottery-right .lottery ul li:first-child + li + li + li + li + li + li {
  left: 0;
  top: 224px;
}
.national-cn2017 .national-container .national-lottery-left .lottery ul li:first-child + li + li + li + li + li + li + li,
.national-cn2017 .national-container .national-lottery-right .lottery ul li:first-child + li + li + li + li + li + li + li {
  left: 0;
  top: 112px;
}
.national-cn2017 .national-container .national-lottery-left .lottery ul li:first-child + li + li + li + li + li + li + li + li,
.national-cn2017 .national-container .national-lottery-right .lottery ul li:first-child + li + li + li + li + li + li + li + li {
  left: 152px;
  top: 112px;
  background: none;
}
.national-cn2017 .national-container .national-lottery-left .lottery ul li.btn-group .btn-start,
.national-cn2017 .national-container .national-lottery-right .lottery ul li.btn-group .btn-start,
.national-cn2017 .national-container .national-lottery-left .lottery ul li.btn-group .btn-won,
.national-cn2017 .national-container .national-lottery-right .lottery ul li.btn-group .btn-won,
.national-cn2017 .national-container .national-lottery-left .lottery ul li.btn-group .btn-unactive,
.national-cn2017 .national-container .national-lottery-right .lottery ul li.btn-group .btn-unactive {
  font-size: 0;
  width: 150px;
  height: 110px;
  background: url("../images/sprite-national.png") no-repeat;
}
.national-cn2017 .national-container .national-lottery-left .lottery ul li.btn-group .btn-start,
.national-cn2017 .national-container .national-lottery-right .lottery ul li.btn-group .btn-start {
  background-position: -340px -111px;
}
.national-cn2017 .national-container .national-lottery-left .lottery ul li.btn-group .btn-start:hover,
.national-cn2017 .national-container .national-lottery-right .lottery ul li.btn-group .btn-start:hover {
  background-position: -340px -222px;
  animation: FadeIn .5s running;
  -webkit-animation: FadeIn .5s running;
  -moz-animation: FadeIn .5s running;
  -ms-animation: FadeIn .5s running;
  -o-animation: FadeIn .5s running;
}
.national-cn2017 .national-container .national-lottery-left .lottery ul li.btn-group .btn-start.btn-start-source .times,
.national-cn2017 .national-container .national-lottery-right .lottery ul li.btn-group .btn-start.btn-start-source .times {
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  bottom: 8px;
  font-size: 14px;
  color: #5b4202;
  text-shadow: 0 1px 1px #e7d083;
}
.national-cn2017 .national-container .national-lottery-left .lottery ul li.btn-group .btn-start.btn-start-source .times em,
.national-cn2017 .national-container .national-lottery-right .lottery ul li.btn-group .btn-start.btn-start-source .times em {
  color: #c94a20;
}
.national-cn2017 .national-container .national-lottery-left .lottery ul li.btn-group .btn-won,
.national-cn2017 .national-container .national-lottery-right .lottery ul li.btn-group .btn-won {
  background-position: -491px -111px;
}
.national-cn2017 .national-container .national-lottery-left .lottery ul li.btn-group .btn-unactive,
.national-cn2017 .national-container .national-lottery-right .lottery ul li.btn-group .btn-unactive {
  cursor: default;
  background-position: -491px -222px;
}
.national-cn2017 .national-container .national-lottery-left .lottery ul li.btn-group .btn-unactive:hover,
.national-cn2017 .national-container .national-lottery-right .lottery ul li.btn-group .btn-unactive:hover {
  background-position: -642px -111px;
  animation: FadeIn .5s running;
  -webkit-animation: FadeIn .5s running;
  -moz-animation: FadeIn .5s running;
  -ms-animation: FadeIn .5s running;
  -o-animation: FadeIn .5s running;
}
.national-cn2017 .national-container .national-lottery-left .lottery:before {
  background-position: 0 -42px;
}
.national-cn2017 .national-container .national-lottery-right .lottery:before {
  background-position: 0 -77px;
}
.national-cn2017 .national-container .national-msgboard {
  padding: 108px 30px 18px 30px;
}
.national-cn2017 .national-container .national-msgboard .comment .select-lists {
  font-size: 0;
  margin-bottom: 10px;
}
.national-cn2017 .national-container .national-msgboard .comment .select-lists select {
  display: inline-block;
  vertical-align: middle;
  width: 171px;
  height: 32px;
  margin-right: 30px;
  font: 14px 'SimSun';
  border: 1px solid #f1c795;
  background-color: #fef5ec;
  color: #770602;
}
.national-cn2017 .national-container .national-msgboard .comment .select-lists select:focus {
  outline: none;
}
.national-cn2017 .national-container .national-msgboard .comment textarea {
  width: 100%;
  height: 233px;
  padding: 30px 20px;
  font: 14px 'SimSun';
  border: 1px solid #fff5eb;
  background-color: #f1c894;
  color: #770602;
  resize: none;
}
.national-cn2017 .national-container .national-msgboard .comment textarea:focus {
  outline: none;
}
.national-cn2017 .national-container .national-msgboard .comment .toolbar {
  text-align: right;
  margin: 17px 0;
}
.national-cn2017 .national-container .national-msgboard .comment .toolbar-left,
.national-cn2017 .national-container .national-msgboard .comment .toolbar-right {
  display: inline-block;
  vertical-align: middle;
}
.national-cn2017 .national-container .national-msgboard .comment .toolbar-left:before {
  content: attr(data-before);
  display: inline-block;
  vertical-align: middle;
  font: 14px 'SimSun';
  color: #770602;
}
.national-cn2017 .national-container .national-msgboard .comment .toolbar-left input,
.national-cn2017 .national-container .national-msgboard .comment .toolbar-left img {
  vertical-align: middle;
  margin: 0 5px;
}
.national-cn2017 .national-container .national-msgboard .comment .toolbar-left input {
  width: 91px;
  height: 32px;
  border: 1px solid #f1c894;
  background-color: #fef6ec;
}
.national-cn2017 .national-container .national-msgboard .comment .toolbar-left img {
  width: 71px;
  height: 32px;
}
.national-cn2017 .national-container .national-msgboard .comment .toolbar-right .btn-clear-sm,
.national-cn2017 .national-container .national-msgboard .comment .toolbar-right .btn-publish-sm {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  width: 91px;
  height: 32px;
  margin: 0 5px;
  border: none;
  font: 16px 'Microsoft YaHei';
  color: #a4170e;
  line-height: 32px;
  background: url("../images/sprite-national.png") no-repeat;
  background-position: -642px -223px;
}
.national-cn2017 .national-container .national-msgboard .comment .toolbar-right .btn-clear-sm:hover,
.national-cn2017 .national-container .national-msgboard .comment .toolbar-right .btn-publish-sm:hover {
  background-position: -642px -256px;
  animation: FadeIn .5s running;
  -webkit-animation: FadeIn .5s running;
  -moz-animation: FadeIn .5s running;
  -ms-animation: FadeIn .5s running;
  -o-animation: FadeIn .5s running;
}
.national-cn2017 .national-container .national-msgboard .comment .toolbar-right .btn-clear-sm:focus,
.national-cn2017 .national-container .national-msgboard .comment .toolbar-right .btn-publish-sm:focus {
  outline: none;
}
.national-cn2017 .national-container .national-msgboard .comment-lists {
  margin: 50px 0;
}
.national-cn2017 .national-container .national-msgboard .comment-lists ul li {
  margin-bottom: 34px;
}
.national-cn2017 .national-container .national-msgboard .comment-lists ul li:after {
  content: '';
  display: table;
  clear: both;
}
.national-cn2017 .national-container .national-msgboard .comment-lists ul li .lists-left {
  float: left;
  width: 114px;
  height: 114px;
  border: 2px solid #f1c795;
}
.national-cn2017 .national-container .national-msgboard .comment-lists ul li .lists-left img {
  max-width: 100%;
}
.national-cn2017 .national-container .national-msgboard .comment-lists ul li .lists-right {
  float: right;
  width: 772px;
  border: 2px solid #f1c795;
  background-color: #fbead6;
  padding: 20px 40px;
  position: relative;
  min-height: 114px;
}
.national-cn2017 .national-container .national-msgboard .comment-lists ul li .lists-right:before {
  content: '';
  position: absolute;
  width: 24px;
  height: 32px;
  left: -22px;
  top: -2px;
  background: url("../images/sprite-national.png") no-repeat;
  background-position: -534px -40px;
}
.national-cn2017 .national-container .national-msgboard .comment-lists ul li .lists-right .msg-left span,
.national-cn2017 .national-container .national-msgboard .comment-lists ul li .lists-right .msg-right span {
  font: 16px 'SimSun';
}
.national-cn2017 .national-container .national-msgboard .comment-lists ul li .lists-right .msg-left {
  float: left;
}
.national-cn2017 .national-container .national-msgboard .comment-lists ul li .lists-right .msg-left span {
  margin-right: 42px;
  color: #e68302;
}
.national-cn2017 .national-container .national-msgboard .comment-lists ul li .lists-right .msg-right {
  float: right;
}
.national-cn2017 .national-container .national-msgboard .comment-lists ul li .lists-right .msg-right span {
  font: 16px 'SimSun';
  color: #760501;
}
.national-cn2017 .national-container .national-msgboard .comment-lists ul li .lists-right .msg .clearfix {
  clear: both;
}
.national-cn2017 .national-container .national-msgboard .comment-lists ul li .lists-right .msg-bottom {
  margin-top: 20px;
}
.national-cn2017 .national-container .national-msgboard .comment-lists ul li .lists-right .msg-bottom span {
  font: 12px 'SimSun';
  color: #760501;
}
.national-cn2017 .national-container .national-msgboard .comment-lists .page {
  font-size: 0;
  text-align: center;
  margin: 30px 0;
}
.national-cn2017 .national-container .national-msgboard .comment-lists .page a {
  display: inline-block;
  vertical-align: middle;
  padding: 4px 8px;
  border: 1px solid #fcf5eb;
  background-color: #f1c894;
  font: 12px 'SimSun';
  color: #e78304;
  margin: 0 5px;
}
.national-cn2017 .national-container .national-msgboard .comment-lists .page a:hover,
.national-cn2017 .national-container .national-msgboard .comment-lists .page a.active {
  border: 1px solid transparent;
  background-color: transparent;
}
.national-cn2017 .national-container .national-msgboard .comment-lists .page a.active {
  cursor: default;
}
.national-cn2017 .national-container .national-instructions-index {
  min-height: 396px;
  padding: 0 65px;
  position: relative;
}
.national-cn2017 .national-container .national-instructions-index:before {
  content: attr(data-before);
  position: absolute;
  width: 57px;
  height: 54px;
  left: 0;
  top: 0;
  background: url("../images/sprite-national.png") no-repeat;
  background-position: -476px -40px;
}
.national-cn2017 .national-container .national-instructions-index .reward:before {
  content: attr(data-before);
  display: block;
}
.national-cn2017 .national-container .national-instructions-index .reward p {
  color: #373947;
  line-height: 28px;
}
.national-cn2017 .national-container .national-instructions-index .reward p span {
  color: #8d1300;
}
.national-cn2017 .national-container .national-instructions-index .reward.reward-01:before {
  margin-bottom: 10px;
  font: 22px 'Microsoft YaHei';
  color: #480c03;
}
.national-cn2017 .national-container .national-instructions-index .reward.reward-01 p {
  font: 18px 'Microsoft YaHei';
}
.national-cn2017 .national-container .national-instructions-index .reward.reward-02:before {
  font: 16px 'Microsoft YaHei';
  color: #373947;
}
.national-cn2017 .national-container .national-instructions-index .reward.reward-02 p {
  font: 16px 'Microsoft YaHei';
}
.national-cn2017 .national-container .national-instructions-msgboard {
  min-height: 800px;
  padding: 10px 55px;
}
.national-cn2017 .national-container .national-instructions-msgboard .time,
.national-cn2017 .national-container .national-instructions-msgboard .content,
.national-cn2017 .national-container .national-instructions-msgboard .reward,
.national-cn2017 .national-container .national-instructions-msgboard .rule {
  position: relative;
  margin-bottom: 15px;
  padding-left: 135px;
}
.national-cn2017 .national-container .national-instructions-msgboard .time:before,
.national-cn2017 .national-container .national-instructions-msgboard .content:before,
.national-cn2017 .national-container .national-instructions-msgboard .reward:before,
.national-cn2017 .national-container .national-instructions-msgboard .rule:before {
  content: attr(data-before);
  position: absolute;
  left: 0;
  width: 119px;
  height: 35px;
  font-size: 18px;
  line-height: 35px;
  text-align: center;
  color: #e5b757;
  text-shadow: 0 1px 1px #000;
  background: url("../images/sprite-national.png") no-repeat;
  background-position: -642px -289px;
}
.national-cn2017 .national-container .national-instructions-msgboard .time p,
.national-cn2017 .national-container .national-instructions-msgboard .content p,
.national-cn2017 .national-container .national-instructions-msgboard .reward p,
.national-cn2017 .national-container .national-instructions-msgboard .rule p {
  font-size: 18px;
  color: #373947;
  line-height: 30px;
}
.national-cn2017 .national-container .national-instructions-msgboard .time p span,
.national-cn2017 .national-container .national-instructions-msgboard .content p span,
.national-cn2017 .national-container .national-instructions-msgboard .reward p span,
.national-cn2017 .national-container .national-instructions-msgboard .rule p span {
  color: #8d1300;
}
.national-cn2017 .national-container .national-instructions-msgboard .remark p {
  font-size: 18px;
  color: #373947;
  line-height: 30px;
}
.national-cn2017 .national-container .national-instructions-prize {
  min-height: 800px;
  padding: 105px 0;
}
.national-cn2017 .national-container .national-instructions-prize .time,
.national-cn2017 .national-container .national-instructions-prize .content,
.national-cn2017 .national-container .national-instructions-prize .reward,
.national-cn2017 .national-container .national-instructions-prize .rule {
  position: relative;
  margin-bottom: 15px;
  padding-left: 135px;
}
.national-cn2017 .national-container .national-instructions-prize .time:before,
.national-cn2017 .national-container .national-instructions-prize .content:before,
.national-cn2017 .national-container .national-instructions-prize .reward:before,
.national-cn2017 .national-container .national-instructions-prize .rule:before {
  content: attr(data-before);
  position: absolute;
  left: 0;
  width: 119px;
  height: 35px;
  font-size: 18px;
  line-height: 35px;
  text-align: center;
  color: #e5b757;
  text-shadow: 0 1px 1px #000;
  background: url("../images/sprite-national.png") no-repeat;
  background-position: -642px -289px;
}
.national-cn2017 .national-container .national-instructions-prize .time p,
.national-cn2017 .national-container .national-instructions-prize .content p,
.national-cn2017 .national-container .national-instructions-prize .reward p,
.national-cn2017 .national-container .national-instructions-prize .rule p {
  font-size: 18px;
  color: #373947;
  line-height: 30px;
}
.national-cn2017 .national-container .national-instructions-prize .time p span,
.national-cn2017 .national-container .national-instructions-prize .content p span,
.national-cn2017 .national-container .national-instructions-prize .reward p span,
.national-cn2017 .national-container .national-instructions-prize .rule p span {
  color: #8d1300;
}
.mask {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #000;
  opacity: .8;
  z-index: 2;
}
.popup {
  z-index: 11;
  position: fixed;
  top: 50%;
  left: 50%;
}
.popup .close {
  position: absolute;
  font-size: 0;
  width: 40px;
  height: 40px;
  z-index: 1;
}
.pop-signin {
  display: none;
  width: 802px;
  height: 382px;
  margin-left: -401px;
  margin-top: -191px;
  background: url("../images/bg-pop-sm.png") no-repeat;
}
.pop-signin .close {
  right: 68px;
  top: 120px;
}
.pop-signin .pop-body {
  position: relative;
  padding: 150px 80px 30px 380px;
}
.pop-signin .pop-body:before {
  content: attr(data-before);
  display: block;
  font-size: 26px;
  color: #931d01;
  margin-bottom: 10px;
}
.pop-signin .pop-body .p1,
.pop-signin .pop-body .p2 {
  font-size: 16px;
  color: #931d01;
  line-height: 22px;
  position: relative;
}
.pop-signin .pop-body .p1:before,
.pop-signin .pop-body .p2:before {
  content: '';
  position: absolute;
  left: 130px;
  top: -5px;
  background: url("../images/sprite-national.png") no-repeat;
}
.pop-signin .pop-body .p1:after,
.pop-signin .pop-body .p2:after {
  content: attr(data-after);
  font-size: 14px;
  display: block;
}
.pop-signin .pop-body .p1 {
  margin-bottom: 15px;
}
.pop-signin .pop-body .p1:before {
  width: 34px;
  height: 34px;
  background-position: -558px -59px;
}
.pop-signin .pop-body .p2 {
  margin-bottom: 5px;
}
.pop-signin .pop-body .dice {
  position: absolute;
  width: 40px;
  height: 42px;
  font-size: 0;
  cursor: default;
  background: url("../images/bg-dice-v.png") no-repeat;
  background-position: 0 -380px;
  right: 250px;
  bottom: 92px;
  background-size: 100%;
}
.pop-signin .pop-body .dice.dice-01 {
  background-position: 0 0;
}
.pop-signin .pop-body .dice.dice-02 {
  background-position: 0 -42px;
}
.pop-signin .pop-body .dice.dice-03 {
  background-position: 0 -84px;
}
.pop-signin .pop-body .dice.dice-04 {
  background-position: 0 -127px;
}
.pop-signin .pop-body .dice.dice-05 {
  background-position: 0 -169px;
}
.pop-signin .pop-body .dice.dice-06 {
  background-position: 0 -211px;
}
.pop-signin .pop-body .dice.dice-t {
  background-position: 0 -295px;
}
.pop-signin .pop-body .dice.dice-s {
  background-position: 0 -338px;
}
.pop-signin .pop-body .dice.dice-e {
  background-position: 0 -380px;
}
.pop-signin .pop-body .btn-group {
  position: relative;
}
.pop-signin .pop-body .btn-group.btn-mask:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}
.pop-signin .pop-body .btn-group .btn-start,
.pop-signin .pop-body .btn-group .btn-ok {
  display: block;
  width: 91px;
  height: 32px;
  margin: 0 auto;
  text-align: center;
  font: 16px 'Microsoft YaHei';
  color: #a4170e;
  line-height: 32px;
  position: relative;
  background: url("../images/sprite-national.png") no-repeat;
  background-position: -642px -223px;
}
.pop-signin .pop-body .btn-group .btn-start:hover,
.pop-signin .pop-body .btn-group .btn-ok:hover {
  background-position: -642px -256px;
  animation: FadeIn .5s running;
  -webkit-animation: FadeIn .5s running;
  -moz-animation: FadeIn .5s running;
  -ms-animation: FadeIn .5s running;
  -o-animation: FadeIn .5s running;
}
.pop-signin .pop-body .btn-group .btn-ok {
  display: none;
}
.pop-key {
  display: none;
  width: 802px;
  height: 382px;
  margin-left: -401px;
  margin-top: -191px;
  background: url("../images/bg-pop-sm.png") no-repeat;
}
.pop-key .close {
  right: 68px;
  top: 120px;
}
.pop-key .pop-body {
  position: relative;
  text-align: center;
  padding: 160px 80px 30px 320px;
}
.pop-key .pop-body:before {
  content: attr(data-before);
  display: block;
  font-size: 26px;
  color: #931d01;
  margin-bottom: 10px;
}
.pop-key .pop-body .p1 {
  font-size: 20px;
  color: #931d01;
  line-height: 26px;
  margin: 20px 0;
  position: relative;
}
.pop-key .pop-body .p1:before {
  content: '';
  position: absolute;
  left: 130px;
  top: -5px;
  background: url("../images/sprite-national.png") no-repeat;
}
.pop-key .pop-body .p1:after {
  content: attr(data-after);
  font-size: 16px;
  display: block;
}
.pop-key .pop-body .btn-group {
  position: relative;
}
.pop-key .pop-body .btn-group .btn-ok {
  display: block;
  width: 91px;
  height: 32px;
  margin: 0 auto;
  text-align: center;
  font: 16px 'Microsoft YaHei';
  color: #a4170e;
  line-height: 32px;
  position: relative;
  background: url("../images/sprite-national.png") no-repeat;
  background-position: -642px -223px;
}
.pop-key .pop-body .btn-group .btn-ok:hover {
  background-position: -642px -256px;
  animation: FadeIn .5s running;
  -webkit-animation: FadeIn .5s running;
  -moz-animation: FadeIn .5s running;
  -ms-animation: FadeIn .5s running;
  -o-animation: FadeIn .5s running;
}
.pop-questions {
  display: none;
  width: 802px;
  height: 382px;
  margin-left: -401px;
  margin-top: -191px;
  background: url("../images/bg-pop-lg.png") no-repeat;
}
.pop-questions .close {
  right: 68px;
  top: 65px;
}
.pop-questions .pop-body {
  padding: 90px 70px 20px 320px;
}
.pop-questions .pop-body p {
  font-size: 14px;
  color: #931d01;
  width: 320px;
}
.pop-questions .pop-body .question {
  position: relative;
  padding-left: 35px;
}
.pop-questions .pop-body .question.right:before,
.pop-questions .pop-body .question.wrong:before {
  position: absolute;
  width: 30px;
  height: 30px;
  font: 36px 'SimHei';
  font-weight: bold;
  margin-left: -15px;
  margin-top: -15px;
  top: 50%;
  left: 50%;
}
.pop-questions .pop-body .question.right:before {
  content: attr(data-right);
  color: #13a709;
}
.pop-questions .pop-body .question.wrong:before {
  content: attr(data-wrong);
  color: #b41618;
}
.pop-questions .pop-body .question .caption {
  font-size: 16px;
  text-shadow: 0 1px 1px #fff;
  color: #a4170e;
  display: block;
  margin-bottom: 8px;
}
.pop-questions .pop-body .question ul li a {
  display: inline-block;
  font-size: 14px;
  color: #b41618;
  padding: 2px 18px;
}
.pop-questions .pop-body .question ul li a:before {
  content: attr(data-before);
}
.pop-questions .pop-body .question ul li.active a {
  background-color: #f2e0c9;
}
.pop-questions .pop-body .question .btn-submit {
  display: block;
  width: 91px;
  height: 32px;
  margin: 0 auto;
  text-align: center;
  font: 16px 'Microsoft YaHei';
  color: #a4170e;
  line-height: 32px;
  background: url("../images/sprite-national.png") no-repeat;
  background-position: -642px -223px;
}
.pop-questions .pop-body .question .btn-submit:hover {
  background-position: -642px -256px;
  animation: FadeIn .5s running;
  -webkit-animation: FadeIn .5s running;
  -moz-animation: FadeIn .5s running;
  -ms-animation: FadeIn .5s running;
  -o-animation: FadeIn .5s running;
}
.pop-wrong {
  display: none;
  width: 802px;
  height: 382px;
  margin-left: -401px;
  margin-top: -191px;
  background: url("../images/bg-pop-sm.png") no-repeat;
}
.pop-wrong .close {
  right: 68px;
  top: 120px;
}
.pop-wrong .pop-body {
  padding: 145px 70px 60px 280px;
}
.pop-wrong .pop-body h2 {
  font-size: 28px;
  color: #931d01;
  margin: 42px 0;
  text-align: center;
}
.pop-wrong .pop-body .btn-submit {
  display: block;
  width: 91px;
  height: 32px;
  margin: 0 auto;
  text-align: center;
  font: 16px 'Microsoft YaHei';
  color: #a4170e;
  line-height: 32px;
  background: url("../images/sprite-national.png") no-repeat;
  background-position: -642px -223px;
}
.pop-wrong .pop-body .btn-submit:hover {
  background-position: -642px -256px;
  animation: FadeIn .5s running;
  -webkit-animation: FadeIn .5s running;
  -moz-animation: FadeIn .5s running;
  -ms-animation: FadeIn .5s running;
  -o-animation: FadeIn .5s running;
}
.pop-right {
  display: none;
  width: 802px;
  height: 382px;
  margin-left: -401px;
  margin-top: -191px;
  background: url("../images/bg-pop-sm.png") no-repeat;
}
.pop-right .close {
  right: 68px;
  top: 120px;
}
.pop-right .pop-body {
  padding: 155px 40px 50px 370px;
}
.pop-right .pop-body:before {
  content: attr(data-before);
  display: block;
  color: #931d01;
  font-size: 26px;
  margin-bottom: 20px;
}
.pop-right .pop-body p {
  font-size: 16px;
  color: #931d01;
  line-height: 22px;
  position: relative;
  margin: 25px 0;
}
.pop-right .pop-body p:before {
  content: '';
  position: absolute;
  left: 130px;
  width: 40px;
  height: 30px;
  background: url("../images/sprite-national.png") no-repeat;
  background-position: -591px -59px;
}
.pop-right .pop-body p:after {
  content: attr(data-after);
  font-size: 14px;
  display: block;
  margin-top: 10px;
}
.pop-right .pop-body .btn-group {
  position: relative;
}
.pop-right .pop-body .btn-group.btn-mask:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}
.pop-right .pop-body .btn-group .btn-start,
.pop-right .pop-body .btn-group .btn-ok {
  display: block;
  width: 91px;
  height: 32px;
  margin: 0 auto;
  text-align: center;
  font: 16px 'Microsoft YaHei';
  color: #a4170e;
  line-height: 32px;
  position: relative;
  background: url("../images/sprite-national.png") no-repeat;
  background-position: -642px -223px;
}
.pop-right .pop-body .btn-group .btn-start:hover,
.pop-right .pop-body .btn-group .btn-ok:hover {
  background-position: -642px -256px;
  animation: FadeIn .5s running;
  -webkit-animation: FadeIn .5s running;
  -moz-animation: FadeIn .5s running;
  -ms-animation: FadeIn .5s running;
  -o-animation: FadeIn .5s running;
}
.pop-right .pop-body .btn-group .btn-ok {
  display: none;
}
.pop-giftcode {
  display: none;
  width: 802px;
  height: 382px;
  margin-left: -401px;
  margin-top: -191px;
  background: url("../images/bg-pop-sm.png") no-repeat;
}
.pop-giftcode .close {
  right: 68px;
  top: 120px;
}
.pop-giftcode .pop-body {
  padding: 180px 40px 50px 360px;
}
.pop-giftcode .pop-body:before {
  content: attr(data-before);
  display: block;
  color: #931d01;
  font-size: 26px;
  margin-bottom: 20px;
}
.pop-giftcode .pop-body p {
  font-size: 20px;
  color: #931d01;
  line-height: 26px;
  position: relative;
  margin: 20px 0;
}
.pop-giftcode .pop-body p span {
  font-weight: bold;
  font-size: 22px;
}
.pop-giftcode .pop-body .btn-group {
  position: relative;
}
.pop-giftcode .pop-body .btn-group .btn-ok {
  display: block;
  width: 91px;
  height: 32px;
  margin: 0 auto;
  text-align: center;
  font: 16px 'Microsoft YaHei';
  color: #a4170e;
  line-height: 32px;
  position: relative;
  background: url("../images/sprite-national.png") no-repeat;
  background-position: -642px -223px;
}
.pop-giftcode .pop-body .btn-group .btn-ok:hover {
  background-position: -642px -256px;
  animation: FadeIn .5s running;
  -webkit-animation: FadeIn .5s running;
  -moz-animation: FadeIn .5s running;
  -ms-animation: FadeIn .5s running;
  -o-animation: FadeIn .5s running;
}
.pop-steps {
  display: none;
  width: 802px;
  height: 382px;
  margin-left: -401px;
  margin-top: -191px;
  background: url("../images/bg-pop-sm.png") no-repeat;
}
.pop-steps .close {
  right: 68px;
  top: 120px;
}
.pop-steps .pop-body {
  padding: 160px 40px 50px 350px;
}
.pop-steps .pop-body:before {
  content: attr(data-before);
  display: block;
  color: #931d01;
  font-size: 26px;
  margin-left: 45px;
}
.pop-steps .pop-body .steps {
  margin: 15px 0 20px;
}
.pop-steps .pop-body .steps ul {
  font-size: 0;
  background: url("../images/bg-dice-h.png") no-repeat;
}
.pop-steps .pop-body .steps ul li {
  display: inline-block;
  vertical-align: middle;
  width: 53px;
  height: 53px;
  margin-right: 7px;
  position: relative;
}
.pop-steps .pop-body .steps ul li a {
  display: block;
  width: 53px;
  height: 53px;
}
.pop-steps .pop-body .steps ul li.active:before {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  right: 8px;
  top: 4px;
  background-color: #f00;
}
.pop-steps .pop-body .btn-group {
  position: relative;
}
.pop-steps .pop-body .btn-group.btn-mask:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}
.pop-steps .pop-body .btn-group .btn-start {
  display: block;
  width: 91px;
  height: 32px;
  margin: 0 auto;
  text-align: center;
  font: 16px 'Microsoft YaHei';
  color: #a4170e;
  line-height: 32px;
  position: relative;
  background: url("../images/sprite-national.png") no-repeat;
  background-position: -642px -223px;
}
.pop-steps .pop-body .btn-group .btn-start:hover {
  background-position: -642px -256px;
  animation: FadeIn .5s running;
  -webkit-animation: FadeIn .5s running;
  -moz-animation: FadeIn .5s running;
  -ms-animation: FadeIn .5s running;
  -o-animation: FadeIn .5s running;
}
.pop-turntable {
  width: 802px;
  height: 382px;
  margin-left: -401px;
  margin-top: -191px;
  background: url("../images/bg-pop-sm.png") no-repeat;
}
.pop-turntable .close {
  right: 68px;
  top: 120px;
}
.pop-turntable.pop-turntable-lucky {
  display: none;
}
.pop-turntable.pop-turntable-source {
  display: none;
}
.pop-turntable .pop-body {
  padding: 155px 100px 50px 340px;
}
.pop-turntable .pop-body:before {
  content: attr(data-before);
  font-size: 28px;
  color: #931d01;
  text-shadow: 0 1px 1px #fff;
  display: block;
  text-align: center;
}
.pop-turntable .pop-body .p1 {
  font-size: 16px;
  color: #931d01;
  text-align: center;
  line-height: 35px;
  text-shadow: 0 1px 1px #fff;
  margin: 10px 0;
}
.pop-turntable .pop-body .p1 .caption {
  font-size: 22px;
  color: #931d01;
  padding: 0 10px;
}
.pop-turntable .pop-body .p1 .caption:hover {
  text-decoration: underline;
}
.pop-turntable .pop-body .p2,
.pop-turntable .pop-body .p3 {
  font-size: 14px;
  line-height: 24px;
  color: #931d01;
}
.pop-turntable .pop-body .p2 a,
.pop-turntable .pop-body .p3 a {
  color: #931d01;
}
.pop-turntable .pop-body .p2 a:hover,
.pop-turntable .pop-body .p3 a:hover {
  text-decoration: underline;
}
.pop-prize {
  display: none;
  width: 802px;
  height: 382px;
  margin-left: -401px;
  margin-top: -191px;
  background: url("../images/bg-pop-sm.png") no-repeat;
}
.pop-prize .close {
  right: 68px;
  top: 120px;
}
.pop-prize .pop-body {
  padding: 155px 70px 50px 330px;
}
.pop-prize .pop-body h2 {
  font-size: 24px;
  color: #931d01;
  margin-bottom: 25px;
  text-align: center;
}
.pop-prize .pop-body .cards {
  margin-bottom: 20px;
}
.pop-prize .pop-body .cards ul {
  font-size: 0;
}
.pop-prize .pop-body .cards ul li {
  display: inline-block;
  vertical-align: middle;
  margin: 0 5px;
  position: relative;
}
.pop-prize .pop-body .cards ul li a {
  display: block;
  width: 88px;
  height: 60px;
  background: url("../images/bg-lottery-sm.png") no-repeat;
}
.pop-prize .pop-body .btn-group {
  position: relative;
}
.pop-prize .pop-body .btn-group.btn-mask:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}
.pop-prize .pop-body .btn-group .btn-start,
.pop-prize .pop-body .btn-group .btn-ok {
  display: block;
  width: 91px;
  height: 32px;
  margin: 0 auto;
  text-align: center;
  font: 16px 'Microsoft YaHei';
  color: #a4170e;
  line-height: 32px;
  position: relative;
  background: url("../images/sprite-national.png") no-repeat;
  background-position: -642px -223px;
}
.pop-prize .pop-body .btn-group .btn-start:hover,
.pop-prize .pop-body .btn-group .btn-ok:hover {
  background-position: -642px -256px;
  animation: FadeIn .5s running;
  -webkit-animation: FadeIn .5s running;
  -moz-animation: FadeIn .5s running;
  -ms-animation: FadeIn .5s running;
  -o-animation: FadeIn .5s running;
}
.pop-prize .pop-body .btn-group .btn-ok {
  display: none;
}
.pop-goods {
  display: none;
  width: 802px;
  height: 514px;
  margin-left: -401px;
  margin-top: -257px;
  background: url("../images/bg-pop-lg.png") no-repeat;
}
.pop-goods .close {
  right: 68px;
  top: 26px;
}
.pop-goods .pop-body {
  padding: 55px 55px 40px 255px;
}
.pop-goods .pop-body .form-group h3 {
  text-align: center;
  font-size: 16px;
  color: #931d01;
}
.pop-goods .pop-body .form-group h3:before {
  content: attr(data-before);
  display: block;
  font-size: 22px;
  margin-bottom: 5px;
  color: #931d01;
  text-shadow: 0 1px 1px #fff;
}
.pop-goods .pop-body .form-group ul:before {
  content: attr(data-before);
  display: block;
  font-size: 12px;
  color: #931d01;
  margin-top: 10px;
  margin-bottom: 5px;
}
.pop-goods .pop-body .form-group ul li {
  margin-bottom: 5px;
  padding: 0 50px;
}
.pop-goods .pop-body .form-group ul li:before {
  content: attr(data-before);
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  color: #931d01;
  width: 100px;
  text-align: right;
}
.pop-goods .pop-body .form-group ul li:after {
  content: attr(data-after);
  display: block;
  font-size: 14px;
  color: #931d01;
  margin-left: 100px;
}
.pop-goods .pop-body .form-group ul li input,
.pop-goods .pop-body .form-group ul li select {
  width: 250px;
  height: 25px;
  line-height: 25px;
  padding: 0 5px;
  color: #931d01;
  background-color: #f1c894;
  border: 1px solid #931d01;
}
.pop-goods .pop-body .form-group ul li input:focus,
.pop-goods .pop-body .form-group ul li select:focus {
  outline: none;
}
.pop-goods .pop-body .form-group .btn-submit {
  display: block;
  width: 91px;
  height: 32px;
  margin: 0 auto;
  text-align: center;
  border: none;
  font: 16px 'Microsoft YaHei';
  color: #931d01;
  line-height: 32px;
  background: url("../images/sprite-national.png") no-repeat;
  background-position: -642px -223px;
}
.pop-goods .pop-body .form-group .btn-submit:hover {
  background-position: -642px -256px;
  animation: FadeIn .5s running;
  -webkit-animation: FadeIn .5s running;
  -moz-animation: FadeIn .5s running;
  -ms-animation: FadeIn .5s running;
  -o-animation: FadeIn .5s running;
}
.pop-goods .pop-body .form-group .p1,
.pop-goods .pop-body .form-group .p2 {
  font: 12px 'SimSun';
  color: #931d01;
  margin: 0 auto;
  max-width: 400px;
  line-height: 20px;
}
.pop-goods .pop-body .form-group .p1 a,
.pop-goods .pop-body .form-group .p2 a {
  color: #931d01;
}
.pop-success {
  display: none;
  width: 802px;
  height: 382px;
  margin-left: -401px;
  margin-top: -191px;
  background: url("../images/bg-pop-sm.png") no-repeat;
}
.pop-success .close {
  right: 68px;
  top: 120px;
}
.pop-success .pop-body {
  padding: 155px 50px 50px 280px;
}
.pop-success .pop-body h3 {
  font-size: 16px;
  text-align: center;
  color: #931d01;
  margin: 0 auto;
}
.pop-success .pop-body h3:before {
  content: attr(data-before);
  display: block;
  font-size: 22px;
  color: #931d01;
  text-shadow: 0 1px 1px #fff;
  margin-bottom: 8px;
}
.pop-success .pop-body .btn-lg {
  display: block;
  width: 260px;
  height: 38px;
  text-align: center;
  margin: 20px auto;
  font-size: 16px;
  font-weight: bold;
  line-height: 42px;
  color: #480a33;
  background: url("../images/sprite-national.png") no-repeat;
  background-position: 0 -336px;
}
.pop-success .pop-body .btn-lg:hover {
  background-position: -384px -336px;
  animation: FadeIn .5s running;
  -webkit-animation: FadeIn .5s running;
  -moz-animation: FadeIn .5s running;
  -ms-animation: FadeIn .5s running;
  -o-animation: FadeIn .5s running;
}
.pop-success .pop-body .p1 {
  font-size: 12px;
  color: #931d01;
  max-width: 320px;
  margin: 0 auto;
}
.pop-success .pop-body .p1 a {
  color: #931d01;
}
.pop-giftbox {
  display: none;
  width: 802px;
  height: 514px;
  margin-left: -401px;
  margin-top: -257px;
  background: url("../images/bg-pop-lg.png") no-repeat;
}
.pop-giftbox .close {
  right: 68px;
  top: 26px;
}
.pop-giftbox .pop-body {
  padding: 60px 100px 40px 305px;
}
.pop-giftbox .pop-body:before {
  content: attr(data-before);
  display: block;
  text-align: center;
  font-size: 28px;
  color: #931d01;
  text-shadow: 0 1px 1px #fff;
  margin-bottom: 15px;
}
.pop-giftbox .pop-body:after {
  content: attr(data-after);
  display: block;
  margin: 20px 0;
  font-size: 14px;
  color: #931d01;
}
.pop-giftbox .pop-body .gift-table-wrapper {
  height: 260px;
  overflow-y: auto;
  overflow-x: hidden;
}
.pop-giftbox .pop-body .gift-table-wrapper .gift-table table {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
  border: 1px solid #931d01;
}
.pop-giftbox .pop-body .gift-table-wrapper .gift-table table thead th {
  line-height: 40px;
  text-align: center;
  border: 1px solid #931d01;
  color: #f6dcaa;
  background-color: #931d01;
}
.pop-giftbox .pop-body .gift-table-wrapper .gift-table table tbody td {
  line-height: 35px;
  color: #931d01;
  border: 1px solid #931d01;
}
.pop-giftbox .pop-body .gift-table-wrapper .gift-table table tbody td a {
  background-color: #e99f42;
  padding: 4px 6px;
  color: #931d01;
}
@keyframes FadeIn {
  from {
    opacity: 0;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  }
  to {
    opacity: 1;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  }
}
@-webkit-keyframes FadeIn {
  from {
    opacity: 0;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  }
  to {
    opacity: 1;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  }
}
@-moz-keyframes FadeIn {
  from {
    opacity: 0;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  }
  to {
    opacity: 1;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  }
}
